#map

#operation
  %h1.accordion_toggle Recent Entries
  .accordion_content
    %p  Test 123 test 123 test 123
    %p  Test 123 test 123 test 123
    %p  Test 123 test 123 test 123
  %h1.accordion_toggle Add your own entry
  .accordion_content{:style => 'display: none'}
    %h2 Test
    %p  Test 123 test 123 test 123
