body {
  font-family: Georgia, Times, Serif;
  background-color: white;
  color: #333;
  margin: 10px;
}

 
div.clear {
  clear: both;
  width: 1px;
  height: 1px;
}

.errorExplanation h2 {
  font-size: 100%;
  color: red;
}

.errorExplanation ul {
  margin-bottom: 0px;
}

.fieldWithErrors {
  display: inline;
}

#notice {
  color: green
}

p.verbatim {
  width: 100%;
  padding: 5px;
  font-size: 140%;
  border: 1px solid #aaa;
  font-family: monospace;
  background-color: #f0f0f0;
}

p.disclaimer {
  font-style: italic;
  font-family: Georgia, Times, Serif; 
  font-size: 100%;
  color: #889;
}

#map {
  width: 600px; height: 400px;
}

#operation {
  position: absolute;
  top: 10px;
  left: 610px;
  width: 350px;
  height: 400px;
}

.accordion_toggle {
  display: block;
  height: 30px;
  width: 350px;
  background: url(../images/accordion_toggle.jpg) no-repeat top right #a9d06a;
  padding: 0 10px 0 10px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  color: #000000;
  border-bottom: 1px solid #cde99f;
  cursor: pointer;
  margin: 0 0 0 0;
}

.accordion_toggle_active {
  background: url(../images/accordion_toggle_active.jpg) no-repeat top right #e0542f;
  color: #ffffff;
  border-bottom: 1px solid #f68263;
}

.accordion_content {
  overflow: hidden;
  background-color: white;
}
  
.accordion_content h2 {
  margin: 15px 0 5px 10px;
}

.accordion_content p {
  line-height: 150%;
  padding: 5px 10px 15px 10px;
}

#track {
  width:100%;
  background-color:#ccc;
  height:10px;
  margin-left: 5px;
  }

#handle {
  width:10px; height:15px; background-color:#f00; cursor:move;
  }

#debug {
  height: 100px;
  width: 600px;
  margin-top: 20px;
  overflow: auto;
  white-space: pre;
}

.debug {
  font-style: fixed;
  font-size:  70%;
  }
