!!! Strict
!!!
%html
  %head
    %title amicitia
    =stylesheet_link_tag('application')
    %script{ :type => "text/javascript", :src => 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAR0BRBZfZRaTelvD0yfOCZhSOBxgz6PZFuCEKIN1w64XOp0U_ihTLh1S9k1olhd8yZjnYOtCVUMFlgQ' }
    =javascript_include_tag(:all)
  %body
    =yield
